/**********************************/
/******* NEW PRICING TABLE ********/
/**********************************/


table.table-pricing-contaier {width: 100%;}

/*.pricing-table-light{  }*/
.table-pricing-contaier tr:nth-child(even){background: #ffffff;}
.table-pricing-contaier tr:nth-child(odd){background: #f7f7f7;}
.tr-white{ background: white!important; }

/*tr.pricing-table-title td.td-orange {box-shadow: 0px -5px 10px #999;border-top: #f48a4c 10px solid;}*/

.ends-date { margin: 0 45px; }
.ends-date.ends-date-2 { margin: 0 35px; }
.ends-date p { text-align: center; color: #444; }
tr.pricing-table-prices td .pricing-register{ 
    background: #c76f6d;
    background: -moz-linear-gradient(top, #c76f6d 0%, #a0032e 10%, #a0032e 90%, #720017 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c76f6d), color-stop(10%,#a0032e), color-stop(90%,#a0032e), color-stop(100%,#720017));
    background: -webkit-linear-gradient(top, #c76f6d 0%,#a0032e 10%,#a0032e 90%,#720017 100%);
    background: -o-linear-gradient(top, #c76f6d 0%,#a0032e 10%,#a0032e 90%,#720017 100%);
    background: -ms-linear-gradient(top, #c76f6d 0%,#a0032e 10%,#a0032e 90%,#720017 100%);
    background: linear-gradient(to bottom, #c76f6d 0%,#a0032e 10%,#a0032e 90%,#720017 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c76f6d', endColorstr='#720017',GradientType=0 );
    box-shadow: 0 0 3px rgba(0,0,0,0.75);
    border-radius: 4px;  text-align: center;
    top: 15px;
    position: relative;
    width: 90%;
    margin: auto;
}

tr.pricing-table-prices td .pricing-register a {
    display: block;
    background-repeat: no-repeat;
    background-position: 190px 60px;
    color: #FFF;
    font-size: 0.8em;
    text-align: center;
    padding: 20px 0;
    line-height: 1.3em;
    text-transform: uppercase;
}

tr.pricing-table-prices td .pricing-register:hover{
    background: #a0032e; /* Old browsers */
    background: -moz-linear-gradient(top,  #a0032e 10%, #a0032e 90%, #720017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#a0032e), color-stop(90%,#a0032e), color-stop(100%,#720017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #a0032e 10%,#a0032e 90%,#720017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #a0032e 10%,#a0032e 90%,#720017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #a0032e 10%,#a0032e 90%,#720017 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #a0032e 10%,#a0032e 90%,#720017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a0032e', endColorstr='#720017',GradientType=0 ); /* IE6-9 */
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
tr.pricing-table-prices td .pricing-register a:hover{ text-decoration: none; background-position: 137px 40px; }

tr.pricing-table-prices .td-blue, tr.pricing-table-prices .td-orange, tr.pricing-table-prices .td-grey, tr.pricing-table-prices .td-grey { color: #FFFFFF; }

span.ends-date-text-01 { font-size: 2.65em;} 
span.ends-date-text-02 { font-size: 2.05em; font-weight: 400;}
span.ends-date-text-03 { font-size: 1.8em; color: #999;}
span.ends-date-text-04 { color: #444; font-size: 15px; line-height: 13px;}

.pricing-register { margin-top: 20px; }
.pricing-register-text p {
    color: #444;
    font-family: 'Open Sans' sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: 15px;
    font-size: 13px;
    font-weight: bold;
}

/*.passes-prices .passes-prices-column { margin-top: -115px; }*/

tr.pricing-table-title td, tr.pricing-table-inrto td {
    font-size: 24px;
    padding: 25px 29px 2px 29px;
    font-family: 'Roboto' sans-serif;
}
tr.pricing-table-title td.td-blue { color: #61ABEB; border-top: #61ABEB 4px solid; }
tr.pricing-table-title td.td-orange { color: #D98852; border-top: #D98852 4px solid; }
tr.pricing-table-title td.td-grey { color: #7E7E7E; border-top: #7E7E7E 4px solid; }
tr.pricing-table-title td.td-pink { color: #A24D9E; border-top: #A24D9E 4px solid; }

tr.pricing-table-subtitle td, tr.pricing-table-title td.td-orange-value{
    font-size: 11px;
    line-height: 0px;
    color:#97979B;
    padding-top: 0px;
}

tr.pricing-table-prices td{
    font-size: 32px;
    color:#FFFFFF;
    padding-top: 0;
    font-weight: 400;
    font-family: 'Roboto' sans-serif;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 140px;
}
tr.pricing-table-prices td.td-blue { background-image: url('../../../uploads/2014/06/circle-platinum.png'); }
tr.pricing-table-prices td.td-orange { background-image: url('../../../uploads/2014/06/circle-golden.png'); }
tr.pricing-table-prices td.td-grey { background-image: url('../../../uploads/2014/06/circle-keynote.png'); }
tr.pricing-table-prices td.td-pink { background-image: url('../../../uploads/2014/06/circle-summit.png'); }

.full-price { 
    font-size: 11px;
    font-family: 'Open Sans' sans-serif;
    font-weight: normal;
}

tr.price-ends td{
    color:#FFFFFF;
    font-size: 16px;
    padding:20px 0;
}

tr.pricing-table td, tr.pricing-table-light td, tr.pricing-table-subtitle td, tr.pricing-table-title td, tr.pricing-table-prices td, tr.pricing-table-inrto td.td-orange {
    text-align: center;
    border-right: #E6E6E6 thin solid;
}
/*tr.pricing-table-inrto td.td-orange
{
    border-left: #E6E6E6 thin solid;
    position: absolute;
    z-index: 20;
    width: 150px;
    background-color: white;    
}*/
tr.pricing-table td, tr.pricing-table-light td, tr.pricing-table-subtitle td { padding: 10px 31px; }

table tr.file-data td{padding: 3px 31px;}
table tr.file-data td.price-bold{padding: 3px 5px;}

table td.column-data{
    text-align: left;
}
tr.pricing-table:last-child td{
    padding: 10px 0; 
}

.price-bold, .table-02-pricing-contaier .price-bold { font-weight: bold; }

.table-pricing-responsive-2{display: none;}
.table-pricing-responsive-3{display: none;}

/****** TABLE 02 ******/
.table-02-pricing-contaier { width: 100%; }
.table-02-pricing-contaier td, .table-02-pricing-contaier h5 {
    font-family: 'Open Sans' sans-serif;
    text-align: center;
    font-weight: normal;
}

.table-02-pricing-contaier td { color: #FFFFFF; padding: 10px 0;}
.pricing-table-02-subtitle {
    border-bottom: #E6E6E6 6px solid;
    color: #444444;
}
.table-02-pricing-contaier tr.pricing-table-02-subtitle td {padding: 0px}
.td-color-01 { background-color: #562c4b; }
.td-color-02 { background-color: #7a426d; }
.td-color-03 { background-color: #905385; }
.td-color-04 { background-color: #9b5c91; }

.td-color-05 { background-color: #5f3754; }
.td-color-06 { background-color: #814c74; }
.td-color-07 { background-color: #965c8b; }
.td-color-08 { background-color: #a06497; }

.td-color-09 { background-color: #67425d; }
.td-color-10 { background-color: #88557c; }
.td-color-11 { background-color: #9b6591; }
.td-color-12 { background-color: #a56d9c; }

.table-02-pricing-contaier tr td.table-02-first-file { padding: 20px 0; }
.table-02-first-column {  }

.row .wpb_box_text .box-content-wrap {margin-top: 0px;}

.spb_parallax_asset p.book-your-accommodations {
    padding: 10px;
    display: inline;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
    color: #fff;
    margin: auto;
    border: solid 1px;
}

.spb_parallax_asset p.book-your-accommodations:hover {
    background-color: #05adee;
    border-color: #05adee;
}

/*botones member/nomember*/

.btn-member { 
    margin-bottom: 60px;
    margin-right: 3px;
    cursor:pointer;
}

.member { float: right;
margin-left: 40px; }

.member a.button.medium, .nomember a.button.medium {
color: #FFF;
font-size: 20px;
padding: 10px 40px;
border-radius: 0;
min-width: 138px;
display: block;
text-align: center;
border: 2px solid purple;
color: purple;
background-color: white;
}
.nomember { float: right; }

.member a.button.medium.active,.nomember a.button.medium.active  {
color: white;
background-color: purple;

}


.passes-prices-column .wpb_wrapper p {margin-bottom: 2px;}

/*pricind and dates*/
.color-celdas {
    color: white;
    /*padding: 10px 10px;*/
    text-align: center;
}
.dark-blue {background-color: #162F64!important;}
.midel-blue {background-color: #224899!important;}
.light-blue {background-color: #5A87E6!important;}
.prices-bule {
    font-size: 19px;
    text-align: center;
    border-right: white 1px solid;
    font-weight: bold;
}
tr.color-celdas td.prices-bule:first-child {font-size: 20px;}

/*porque se rompio algo con las columnas ??*/
.padding-box-right { padding-right: 20px;}


/*Table 02 - ONLINE TRAINING*/
.tableTraining tr td { padding: 9px 50px; }
.tableTraining tr.table-training-raw01 {border-bottom: #e4e4e4 4px solid;}
.tableTraining tr.table-training-raw01 td.raw01-price02, 
.tableTraining tr.table-training-raw01 td.raw01-price03 { border-left: #e4e4e4 1px solid; text-align: center; font-weight: 600; }
.tableTraining tr.table-training-raw02, 
.tableTraining tr.table-training-raw03 { color: white; font-weight: 600; }
.tableTraining tr.table-training-raw02 td.raw02-price01 { background-color: rgba(86, 44, 75, 0.79); }
.tableTraining tr.table-training-raw02 td.raw02-price02 { background-color: rgba(86, 44, 75, 0.76); text-align: center;}
.tableTraining tr.table-training-raw02 td.raw02-price03 { background-color: rgba(86, 44, 75, 0.69); text-align: center;}
.tableTraining tr.table-training-raw03 td.raw03-price01 { background-color: rgba(86, 44, 75, 0.74); }
.tableTraining tr.table-training-raw03 td.raw03-price02 { background-color: rgba(86, 44, 75, 0.68); text-align: center;}
.tableTraining tr.table-training-raw03 td.raw03-price03 { background-color: rgba(86, 44, 75, 0.61); text-align: center;}

/******************/
/*** RESPONSIVE ***/
/******************/

@media (max-width: 1200px) {

    .ends-date {
        margin: 0 12px;
    }

    tr.pricing-table-subtitle td{
        padding: 10px 25px !important;
    }
    
    tr.pricing-table-inrto td.td-orange
    {
        border-left: #E6E6E6 thin solid;
        position: absolute;
        z-index: 20;
        width: 110px;
        background-color: white;    
    }   
}

@media (max-width: 979px) {
    tr.pricing-table-prices td .pricing-register{
        line-height: 30px;
        padding: 20px 0;
    
        width: 100%;
}
    
    tr.pricing-table-prices td .pricing-register a {
        /* background-position: 90% 100%; */
        /* position: relative; */
        /* width: 100%; */
        /* height: 100px; */
    
        padding: 0;
}
    tr.pricing-table-prices td .pricing-register a:hover{
        background-position: 85% 90%;
    }
    .pricing-register a.button.btn-register {
        padding: 10px 8px !important;
        font-size: 14px !important;
    }
    
    .pricing-register-text{display: none;}

    .ends-date { margin: 0 -6px 0 0; }
    .passes-prices-column .wpb_wrapper p {margin-bottom: 0;margin-right: 0;}
    .ends-date p { text-align: center; }
    span.ends-date-text-01 { font-size: 2.2em; }
    span.ends-date-text-02 { font-size: 1.7em; }
    span.ends-date-text-03 { font-size: 1.5em; }
    tr.pricing-table-prices td .pricing-register{margin-left: 0;text-align: center;margin-top: 5px;}
    .ends-date-number {
        float: left;
        border-left: none;
        padding-left: 8px !important;
    }
    .ends-date-text {
        width: 73px;
    }

    .span3.promotion-circle { display: none; }   

    tr.pricing-table-subtitle td{
        padding: 10px 12px !important;
    }
    
    tr.pricing-table-inrto td.td-orange
    {
        position: absolute;   
    
        width: 83px;
} 
    .pricing-register-text p {margin-left: 0;}    
    tr.pricing-table-prices td .pricing-register a { 

    }       
}

@media (max-width: 767px) {
    
    .ends-date { margin: 0; }
    span.ends-date-text-01 { font-size: 0.9em; }
    span.ends-date-text-02 { font-size: 1.15em; }
    span.ends-date-text-03 { font-size: 1.0em; }
    .pricing-register-text p {margin-left: 15px;}
    .pricing-register a.button.btn-register {padding: 10px 40px !important;font-size: 17px !important;}
    tr.pricing-table-prices td .pricing-register a {width: auto;background: none;}
    .table-wrapper .pinned{border: none;}
    div.table-wrapper {border-right: none !important;}
    .blank_spacer{height: 0px !important;margin-bottom: 20px !important;}
    table tr.file-data td {padding: 10px 0px !important;}           
    table td.column-data {text-align: left !important;}
    .tr-white {border-left: none !important;} 
    tr.pricing-table-02-subtitle td{ border-right: #e6e6e6 solid 1px; }
    tr.pricing-table-02-subtitle td:last-child { border-right: none; }     
    tr.pricing-table-inrto td.td-orange { position: static; }
    tr.pricing-table-prices td.td-blue, tr.pricing-table-prices td.td-orange, tr.pricing-table-prices td.td-grey { background-image: none; }
    tr.pricing-table-prices td.td-blue { color: #61ABEB; }
    tr.pricing-table-prices td.td-orange { color: #D98852; }
    tr.pricing-table-prices td.td-grey { color: #7E7E7E; }

    /*Table 02 - ONLINE TRAINING*/
    .tableTraining tr td { padding: 9px 10px; }
}

@media (max-width: 680px) {  
    .btn-member {
        margin-bottom: 30px;
        margin-right: 0;
        text-align: center;
    }
    .member {margin: 0 0  15px 0; float: none;}
    .nomember {float: none;}
    tr.pricing-table-prices td .pricing-register{width: 100%; line-height: 25px; text-align: center;}
    tr.pricing-table-prices td .pricing-register a{ line-height: 25px;}

    .pinned table th, .pinned table td {white-space: normal;}



}
/*responsive-table css

/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */

@media only screen and (max-width: 784px) {
    .pinned { display:none; }
}

@media only screen and (max-width: 767px) {
    
    table.responsive { margin-bottom: 0; }
    
    .pinned { display:block;position: absolute; left: 0; top: -12px; background: #fff; width: 42%; overflow: hidden; border-right: 1px solid #ccc; border-left: 1px solid #ccc; }
    .pinned table { border-right: none; border-left: none; width: 100%;border-top: 4px solid white;}
    .pinned table th, .pinned table td { white-space: normal; }
    .pinned td:last-child { border-bottom: 0; }
    
    div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
    div.table-wrapper div.scrollable { margin-left: 42%; }
    div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }  
    
    table.responsive td, table.responsive th { position: relative; overflow: hidden; }
    table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
    
    .ends-date { margin: 0 -11px; }
    .ends-date p { text-align: center; color: #444; }

    span.ends-date-text-01 { font-size: 2.7em; } 
    span.ends-date-text-02 { font-size: 2.1em; }
    span.ends-date-text-03 { font-size: 1.8em; color: #999; }

    .pricing-register { margin-top: 20px; }
    
    /*.file-data {height: 48px !important;}*/

    div.scrollable .color-celdas.midel-blue {height: 71px;}
    div.scrollable .color-celdas.light-blue {height: 71px;}
}

@media (max-width: 639px) {

    span.ends-date-text-01 { font-size: 1.9em; }
    span.ends-date-text-02 { font-size: 1.5em; }
    span.ends-date-text-03 { font-size: 1.3em; } 
    
    /*.pricing-register a.button.btn-register {
    padding: 10px 8px !important;
    font-size: 14px !important;
    }*/    
    .pinned {top: 0px}

    /*register btn*/
    tr.pricing-table-prices td .pricing-register{
        line-height: 30px;
        padding: 20px 0;
        font-size: 18px;
    }

    
    tr.pricing-table-prices td .pricing-register a {
    font-size: 1.2em;
    }
    tr.pricing-table-prices td .pricing-register a:hover{
        background-position: 85% 90%;
    }
    .pricing-register a.button.btn-register {
        padding: 10px 8px !important;
        font-size: 14px !important;
    }
    
    .pricing-register-text{display: none;}
}

@media only screen and (max-width: 490px) {
    
    .pinned {width: 182px;}
    div.table-wrapper div.scrollable { margin-left: 182px; }

}