@charset"utf-8";

@media all and (min-width: 1250px) {

    /*tables size*/
    .media_center_raw {width: 120%;}
    nav .menu li a {margin: 0 12px 0 12px;}
}

@media screen and (min-width: 1200px) {
    .big-video-player {margin-left: 0;}
    .head .row {margin-left: 0px !important;}
    .view-all-button {width: 80%;}
    .video-block {margin-left: -20px;}
    .grillarecuadros {margin-left: 20px !important;}
    
    /* HOME */
    .homeagenda img {margin-top: 14%;margin-bottom: -13px;}
    .homenetworking img {margin-top: 5.6%;margin-bottom: -13px;}
    .homecatalyst img {margin-top: 14%;margin-bottom: -13px;}
    .homethehub img {margin-top: 22.5%;margin-bottom: -13px;}
    .linkbox img {width: 87%;}
    .linkbox p {padding-left: 3%;padding-right: 3%;text-align: center;}
    
    /*tables size*/
    .media_center_raw {width: 120%;}
    nav#top-bar-menu {width: 745px;}
}
@media screen and (max-width: 1200px) {
    /*uber menu*/
    /* #main-navigation {
    margin-top: -11px !important;
    margin-left: -1069px !important;
    }*/

    /*home page contact footer*/
    .email-img {margin: 50px 40px;}
    .contact-button {margin: 40px 40px 40px 10px;}
    .span12.full-width.webinar-line {width: 940px;}
    .webinar-text {margin: 0 29px;}
    .webinar-text-2 {padding-left: 30px;}
   
    #footer .social-contact .span8, #footer .social-contact .span4 {margin: 0 !important;}
    .media_center_table tr td {padding: 2% 8%;}
    .event-location-block {float: none !important;margin-top: 0;}
    #book-today-bottom h3 {font-size: 19px;}
}

@media screen and (max-width: 1077px) {
    h2:before, h3.faq-section-title:before {
        content: url('../../../uploads/2014/08/subtitle-e1407968140613-small.png');
        position: absolute;
        left: -28px;
    }
}

@media screen and (max-width: 1024px) {
    /*uber menu*/
    /*    #main-navigation {
    margin-top: -29px !important;
    margin-left: -1096px !important;
    }*/

    #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1 {width: 100% !important;margin-left: -12% !important;}
    .open {width: 56%;margin-left: 20px;}
    .open-img {display: none;}
    .boxed-layout #mini-header {padding: 10px !important;width: 100%;}
    #cuadro1 {left: 385px !important;}
    #cuadro7 {left: 630px !important;}
    #cuadro4 {left: 385px !important;top: 216px !important;}
    #cuadro5 {left: 630px !important;top: 216px !important;}
    #cuadro3 {left: 385px !important;top: 432px !important;}
    #cuadro2 {left: 630px !important;top: 432px !important;}
    #mcontainer {height: 828px !important;}
    #main-container {width: 100% !important;}
    .tp-simpleresponsive .slotholder *, .tp-simpleresponsive img {width: 100% !important;height: auto !important;}
    .item.cuadrob.cuadrob1 {top: 652px !important;left: 0px !important;}
    #footer .social-contact .span8, #footer .social-contact .span4 {margin: 0 !important;}
    #footer-widgets .span3 {width: 30%;}
    #footer-widgets .span3:last-child {display: none;}
}

/* iPads (landscape) ----------- */

@media only screen and (min-width: 980px) and (max-width: 1024px) {

    nav#agenda-navigation .menu li {width: 49.6%;}    
    nav#mediacenter-navigation .menu li {width: 49.6%;}
    nav#justify-navigation .menu li {width: 45%;}
    #tres_bajar {margin-bottom: 42px !important;}
    #cuatro ul {max-width: 98% !important;}
    #siete ul {max-width: 91% !important;}
    
    /*new home*/
    body [class*="span"].home-ribbon:after {visibility: hidden;}
   
    /* HOME */
    
    /*Speakers*/
    .speakers-list-name {clear: both;}

    .homeagenda img {margin-top: 25.4%;}
    .homenetworking img {margin-top: 5.5%;}
    .homecatalyst img {margin-top: 15.5%;}
    .homethehub img {margin-top: 25.5%;}
   
    .position {margin-left: 17px;}
    .company {margin-left: 16px;}
    .homespeakers img {width: 37%;margin: 5px 11px 0px 0 !important;}
    .homethexpo img {margin-top: 23px;}

    .logo-left nav .menu > li > ul.sub-menu {left: 50% !important;margin-left: -90px !important;}
  
}

@media screen and (max-width: 980px) {
    #book-today-banner {
        height: 220px;
    }
    #book-today-bottom h3 {
        font-size: 13px;
        font-weight: normal;
    }
    #book-today-bottom h3 strong {
        font-weight: normal;
    }
    .hotelandtravel-text p img {
        width: 100%;
        float: none;
    }
    .hotelandtravel-text ul {
        margin: 0;
    }
    .keep-updated-btn.eModal-1.keep-updated {
        display: none;
    }
    #footer .social-contact img {
        margin-right: 30px;
    }
    #footer .social-contact .span8 h3 {
        padding-right: 0;
    }
}
@media screen and (min-width: 980px) and (max-width: 1199px) {
    .space-news {
        height: 540px;
    }
    nav#mediacenter-navigation .menu li {
        width: 49.6%;
    }
    nav#justify-navigation .menu li {
        width: 45%;
    }
    nav#agenda-navigation .menu li {
        width: 49.6%;
    }
    /*new home*/
    body [class*="span"].home-ribbon:after {
        margin-left: -30px;
        margin-bottom: 30px;
        width: 90%;
        visibility: visible;
    }
    /*HP AT THE EVENT*/
    .hp-at-the-event img {
        max-width: 180%;
        margin-bottom: 10px;
        margin-top: -20px;
    }
    /*HOME*/
    /*homespeakers*/
    div.homespeakers h1 {
        clear: both;
    }
    .homespeakers img {
        width: 90px;
    }
   
    /*home-sponsors*/
    .wpb_content_element.span12.sponsors-home-box.wpb_text_column {
        width: 105%;
        margin-left: -12px;
    }
    .sponsors-fifth {
        margin-left: 4%;
    }
    /*contact*/
    .email-img {
        margin: 50px 65px;
    }
    .webinar-text {
        margin-left: 60px;
    }
    .webinar-text-2 {
        margin-right: 30px;
    }
    .webinar-btn {
        margin-right: 0;
        float: none;
    }
    /*JUSTIFY YOUR TRIP*/
    /*justify navigation*/
    
    /* EXHIBITORS RESOURCES */
    nav#exhibitors-navigation .menu li {
        width: 310px;
    }
    #exhibitors-navigation {
        padding-bottom: 38px;
    }
    nav#top-bar-menu {
        width: 745px;
    }
    /*FOOTER*/
    ul.social-footer li {
        margin-right: 2px;
    }
    /*404 not-found page*/
    input.page-404 {
        width: 600px;
    }
    /****************************/
    /*** ONLINE TRAINING TABLE***/
    /****************************/
    div.ot-table-container div {
        font-size: 15px;
    }
    /*******************************/
    /*** ONLINE TRAINING PROGRAMS***/
    /*******************************/
    div.online-training h3 {
        font-size: 19px;
    }
    div.online-training div.footer img {
        width: 25px;
    }
    div.online-training div.footer span {
        font-size: 13px;
    }
    div.online-training.white {
        min-height: 550px;
    }
    div.online-training {
        min-height: 580px;
    }
    div.online-training .footer {
        width: 250px;
    }
    .nfv-logo-hp {
        width: 204px !important;
        height: 73px !important;
    }
    /*video player page*/
    .main-video-shadow-big-video {
        margin-top: -12px;
    }
    .main-video-preface.SKL {
        width: 380px;
    }
    .main-video-ampersand.SKL {
        width: 60px;
    }
    .main-video-name.SKL {
        width: 220px;
    }
}
@media screen and (max-width: 915px) {
    div#top-bar-social {
        display: none;
    }
    body [class*="span"].home-ribbon:after {
        visibility: hidden;
    }
}
@media screen and (max-width: 905px) {
    #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1 {
        width: 92% !important;
        margin-left: 8% !important;
    }
}
@media screen and (max-width: 880px) {
    #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1 {
        width: 90% !important;
        margin-left: 8% !important;
    }
}
@media screen and (max-width: 865px) {
    #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1 {
        width: 87% !important;
        margin-left: 8% !important;
    }
}
@media screen and (max-width: 840px) {
    #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1 {
        width: 87% !important;
        margin-left: 8% !important;
    }
    h2:before, h3.faq-section-title:before {
        content: url('../../../uploads/2014/08/subtitle-e1407968140613-small.png');
        position: absolute;
        left: -46px;
    }
}
@media screen and (max-width: 820px) {
    #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1 {
        width: 84% !important;
        margin-left: 8% !important;
    }
}
@media screen and (max-width: 800px) {
    #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1 {
        width: 80% !important;
        margin-left: 8% !important;
    }
    .media_center_table tr td {
        padding: 2% 8%;
    }
}
@media screen and (max-width: 780px) {
    #megaMenu.megaMenuHorizontal ul.megaMenu > li.menu-item.ss-nav-menu-mega > ul.sub-menu-1 {
        width: 80% !important;
        margin-left: 8% !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 800px) {
    #footer .social-contact img {
        display: none;
    }
    .social-contact .span8 h3 {
        padding: 0 30px 0 0;
    }
}
@media screen and (max-width: 767px) {
    .top-sponsors-logos {
        margin-top: 40px;
    }
    #megaMenu.megaCenterMenuItems ul.megaMenu > li.menu-item {
        text-align: center;
    }
    #megaUber {
        margin-left: -195px !important;
    }
    .sub-menu-1 {
        text-align: left;
    }
    .sub-menu-1 img {
        display: none;
    }
    .um-sidebar {
        width: 304px !important;
        margin-left: -82px !important;
    }
    .span12.full-width.open-submit {
        width: 100%;
        margin-left: 0;
    }
    .open {
        width: 90%;
        margin-left: 20px;
        text-align: center;
    }
    .deadline {
        float: none;
        margin-left: 0;
    }
    #footer {
        padding: 0 !important;
    }
    .social-contact {
        padding: 20px !important;
        text-align: center;
    }
    #footer .span4 h3 {
        margin-top: 40px;
    }
    #footer-widgets .span3 {
        width: 33%;
        float: left;
    }
    #footer-widgets .span3:last-child {
        display: none;
    }
    #megaMenu #megaMenuToggle {
        margin-left: -295px !important;
    }
    #megaUber {
        width: 171px !important;
        margin-left: -333px !important;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1024px) {
    #cuadro1 {
        left: 385px !important;
    }
    #cuadro7 {
        left: 385px !important;
        top: 216px !important;
    }
    #cuadro4 {
        left: 0px !important;
        top: 432px !important;
    }
    #cuadro5 {
        left: 245px !important;
        top: 432px !important;
    }
    #cuadro3 {
        left: 0px !important;
        top: 653px !important;
    }
    #cuadro2 {
        left: 0px !important;
        top: 653px !important;
    }
    /* .item.cuadrob.cuadrob1{ top: 652px !important; left: 0px !important;} */
}
@media screen and (max-width: 480px) {
    #megaMenu #megaMenuToggle {
        margin-left: -170px !important;
    }
    #megaUber {
        width: 171px !important;
        margin-left: -210px !important;
    }
    .faqs-page .general-subtitles .back-to-top {
        left: 10px;
    }
    .faqs-page .general-subtitles p {
        padding-bottom: 28px;
    }
}
@media screen and (max-width: 320px) {
    #megaMenu #megaMenuToggle {
        margin-left: -100px !important;
    }
    #megaUber {
        margin-left: -143px !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 979px) {
    /*custom main menu*/
    .call-to-action {
        width: 380px !important;
    }
    .flare-horizontal.flare-position-bottom {
        right: 0;
    }
    .space-news {
        height: 450px;
    }
    /*HP AT THE EVENT*/
    .hp-at-the-event img {
        max-width: 180%;
        margin-top: -9px;
    }
    ul.all-about-tmf.event-news li div {
        display: none;
    }
    ul.all-about-tmf.event-news li p {
        padding: 0px 0;
        margin-left: 0;
    }
    .s-speakers {
        position: static !important;
    }
    .width03.left.speaker div {
        width: 46%;
    }
    .fullName {
        width: 65% !important;
    }
    nav#agenda-navigation .menu li {
        width: 49.6%;
    }
    nav#mediacenter-navigation .menu li {
        width: 49.6%;
    }
    #mediacenter-navigation {
        background-position: center 91% !important;
    }
    nav#justify-navigation .menu li {
        width: 49%;
    }
    /*CONFERENCE OVERVIEW*/

    .cuadrob {
        width: 225px;
        background-image: none;
        background-color: #cb79bb;
    }
    .cuadrob ul {
        margin-left: -2%;
        margin-top: 13%;
    }

    /*HOME*/
    /*webniar-text*/
    .webinar-text {
        margin: 0 30px 0 60px;
    }
    .webinar-text-2 {
        width: 30%;
    }
    .span12.full-width {
        width: 854px;
    }
    .span12.full-width.webinar-line {
        margin: 40px 0 40px 10px;
        width: 150%;
    }
    /*footer- contact us*/
    .contact-button {
        width: 50%;
    }
    .social-icon-list {
        margin-top: 40px;
        margin-left: -160px;
    }

    /*HOME AT THE EVENT*/
    /*menu sidebar news*/
    ul.all-about-tmf.event-news li div {
        float: none;
    }
    /*about tmforum live*/
    .networking-expo-box.testimonials img {
        visibility: hidden;
    }
    /*Speakers*/
    .speakers-list-name {
        clear: both;
    }
    /*homespeakers*/
    .homespeakers[class*="span"] {
        height: 200px;
    }
    /*3d gray cubes fix position*/
    .cub-top {
        display: none;
    }
    nav#main-navigation nav .menu li {
        font-size: 14px;
    }
    /*top-bar-menu*/
    nav#top-bar-menu {
        width: 745px;
    }
    div#top-bar .container {
        width: 95%;
    }
    nav#main-navigation nav .menu li {
        font-size: 14px;
    }
    div#header-section .container {
        width: 95%;
    }
  
    .nav-wrap {float: none !important;}

    /*the next line needs an important because style is given inline from the template options!*/
    nav #menu-tmf-live li {
        font-size: 14px !important;
    }
    nav .menu li a {
        margin: 0 7px 0 7px;
    }
    .logo-left nav .menu > li > ul.sub-menu {
        left: 50% !important;
        margin-left: -90px !important;
    }

    /*footer*/
    ul.social-footer li {
        margin-right: 0;
        width: 30px;
    }
    .widget_nav_menu ul.sub-menu li {
        padding-left: 0;
    }
    .widget_nav_menu ul > li a {
        padding: 8px 0 8px 0;
    }
    #footer .widget ul li ul li a {
        font-size: 13px;
    }
   
    /*JUSTIFY YOUR TRIP*/
    /*justify navigation*/
    nav#justify-navigation .menu li {
        width: 44% !important;
    }
    #justify-navigation {
        padding-bottom: 14px !important;
    }
   
    /* EXHIBITORS RESOURCES */
    nav#exhibitors-navigation .menu li {
        width: 238px;
    }
    #exhibitors-navigation {
        padding-bottom: 30px;
    }
    /*RESPONSIVE STYLES GUILLERMO*/
    #tres_bajar {
        margin-bottom: 57px !important;
    }
    #cuatro ul {
        max-width: 100% !important;
    }
    #cinco {
        padding-top: 54% !important;
    }
    #siete ul {
        margin-bottom: -15px !important;
    }
    .agendatime {
        margin-left: 3px !important;
    }
    #siete .agendatime {
        top: 16px !important;
    }
    .fila3 ul {
        max-width: 100% !important;
    }
    /* HOME */
    .homeagenda img {
        margin-top: 19.3%;
    }
    .homenetworking img {
        margin-top: 5.6%;
    }
    .homecatalyst img {
        margin-top: 19.5%;
    }
    .homethehub img {
        margin-top: 32.5%;
    }
    
    .homecable img {
        margin-top: 42px;
    }
    .homethexpo img {
        margin-top: 64px;
    }
    
    /*home-sponsors*/
    .sponsors-fifth {
        margin-right: 5%;
        margin-left: 5%;
    }
    .sponsors-fifth-toa {
        margin-left: 30%;
    }
    .sponsors-fifth-networking {
        margin-left: 120px;
    }
    .wpb_content_element.span12.sponsors-home-box.wpb_text_column {
        width: 130%;
        margin-left: -100px;
    }
    /*404 not-found page*/
    input.page-404 {
        width: 450px;
    }
    /*pases & pricing*/
    div.register-online img {
        max-width: 73%;
    }
    /****************************/
    /*** ONLINE TRAINING TABLE***/
    /****************************/
    div.ot-table-container .title {
        font-size: 16px;
        font-size: 16.5px;
    }
    div.ot-table-container .info {
        line-height: 20px;
    }
    div.ot-table-container .price {
        line-height: 40px;
    }
    /*******************************/
    /*** ONLINE TRAINING PROGRAMS***/
    /*******************************/
    div.online-training {
        width: 100%;
        min-height: 0;
    }
    div.online-training .footer {
        position: relative;
        width: 445px;
    }
    div.online-training.white {
        min-height: 0;
        margin-bottom: 40px;
        background-color: #F2F2F2;
    }
    
    .nfv-logo-hp {
        width: 75% !important;
        height: 75% !important;
    }
    /*******************************/
    /***  VIDEO PAGES may/30/14  ***/
    /*******************************/
    body.page-template-video-posts-template-php .video-block:first-child li.featured-figure .featured-caption {
        padding: 0 5%;
    }
    body.page-template-video-posts-template-php .video-block:first-child li.featured-figure .title {
        line-height: 1.2em;
    }
    body.page-template-video-posts-template-php .video-block:first-child li.featured-figure .date {
        margin-top: 0;
    }
    /*video player page*/
    .main-video-shadow-big-video {
        margin-top: -12px;
        height: 48px;
    }
    .main-video-preface.SKL {
        width: 100%;
    }
    .main-video-ampersand.SKL {
        width: 30px;
    }
    .main-video-name.SKL {
        width: 190px;
    }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    body [class*="span"].home-ribbon:after {
        visibility: hidden;
    }
}
@media only screen and (max-width: 840px) {
    /*Tablet menu*/
    .keep-updated-btn {
        display: none !important;
    }
    .slogan {
        display: none;
    }
    .divider {
        display: none;
    }
    .slogan-tablet {
        display: block;
    }
    .head {
        margin: 0 auto;
        width: 340px;
        height: 110px;
    }
    #logo {
        width: 200px !important;
        float: left !important;
        margin-left: 0px;
    }
    #logo a {
        margin: 0;
        float: left;
    }
    .call-to-action {
        padding-top: 0;
        height: 65px;
        width: 130px !important;
    }
    .call-to-action > li {
        width: 130px;
        height: 24px;
        font-size: 14px;
        padding-top: 3px;
    }
    nav .menu > li:first-child > a {
        padding-left: 20px !important;
    }
    .show-menu {
        color: #4476b3 !important;
    }
    .show-menu:hover {
        color: #4476b3 !important;
    }
    .icon-angle-down {
        color: #4476b3 !important;
        cursor: pointer;
    }
    #main-navigation {
        margin-bottom: 0 !important;
    }
    /*end tablet menu*/
    .s-speakers {
        position: static !important;
    }
    /*///////////////////////////////////////////////////////////////////////

                                ROHIT-TEMP.css

    ///////////////////////////////////////////////////////////////////////*/
    nav#agenda-navigation ul.menu {
        display: block;
    }
    div#header-section #logo {} #main-navigation {
        float: none;
    }
    nav#main-navigation .menu>li {
        float: none;
        display: block;
        padding: 2px 0;
        width: 100%;
        border-top: 1px solid #e4e4e4;
    }
    nav#main-navigation .menu>li:first-child {
        border-top-width: 0;
    }
    nav#main-navigation .menu li a {
        text-align: center;
    }
    nav#main-navigation .menu ul li a {
        font-weight: 400;
        border: 0;
        padding: 0;
        text-align: center;
        width: 100%;
        margin: 0;
        display: inline-table;
    }
    nav#main-navigation.menu ul, nav#top-bar-menu .menu>li>ul {
        background-color: transparent!important;
        position: relative;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        left: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        opacity: 1;
        display: block;
        top: 0;
        padding-left: 20px
    }
    div#nav-section {
        width: 100%;
        float: right
    }
    div#nav-section .visible-phone.show-menu {
        width: 100%;
        text-align: center;
        padding: 5px 50px;
        background-color: #EFEFEF;
        margin-top: 6px
    }
    .logo-left .nav-wrap {
        float: none;
        margin: 0 auto;
        width: 80%
    }
    #header-section {
        padding: 15px 0 0 0;
        height: 110px;
    }
    #top-bar nav .menu>li {
        width: auto;
        display: inline-block
    }
    #top-bar .visible-phone.show-menu {
        display: none!important
    }
    .visible-phone.show-menu {
        display: block!important
    }
    .logo-left nav#main-navigation .menu>li>ul.sub-menu {
        margin-left: 0!important;
        background: 0 0;
        padding: 0 0 10px;
        margin: 0 auto;
        left: 0!important;
        position: relative;
        text-align: center;
        top: -10px;
        width: 100%
    }
    .logo-left nav#main-navigation .menu>li>ul.sub-menu li {
        display: block;
        padding: 5px 0;
        width: auto;
        border: 0;
        margin: auto;
        text-align: center
    }
  
    ul.all-about-tmf li {
        font-size: 13px
    }
    .hotel-travel-info-box a {
        line-height: 24px
    }
    nav ul.menu {
        display: none;
    }
    div.menu-top-menu-container ul.menu {
        display: block;
    }
    /*video player page*/
    .main-video-shadow-big-video {
        margin-top: -10px;
        height: 43px;
    }
    /**********************************/
    /*** END OF TEMPORARY-ROHIT.css ***/
    /**********************************/
    body [class*="span"].home-ribbon:after {
        visibility: hidden;
    }
    .span12.full-width.contactUs-footer {
        margin: 0 !important;
    }
    .email-img {
        display: none;
    }
    .contact-button {
        float: none;
        width: 90%;
        margin: 0 !important;
        text-align: center;
    }
    .social-icon-list {
        float: none;
        text-align: center;
        width: 90%;
        margin: 0px !important;
        margin-bottom: 20px !important;
    }
}
@media screen and (max-width: 767px) {
    /*--------------*/
    /*---- HOME ----*/
    /*--------------*/
    /*What you can expect at Digital Disruption 2014!*/
    div.dd-expect-icon {
        float: left;
        width: auto;
        margin-right: 20px;
    }
    div.dd-expect-text {
        padding-left: 125px;
    }
    .conference-program {
        display: block;
    }
    .twitter_widget {
        display: block;
    }
    .HPatTheEvent .right-sidebar {
        display: none;
    }
    .hideResponsive img {
        display: none;
    }
    .hideResponsive p {
        margin-top: -20px;
    }
    .watchAllVideos {
        position: relative;
    }
    .videoBack .watchAllVideos {
        position: absolute;
        right: 0;
    }
    #breadcrumbs a:first-child {
        display: none;
    }
    .flare-horizontal.flare-position-bottom {
        bottom: 20px;
        position: relative;
    }
    .home-page-at-the-event .view-all-videos {
        position: relative;
        top: auto;
        right: auto;
        z-index: 10;
        margin: 20px 0 0 0;
    }
    .view-all-button {
        width: 100%;
        margin: 0;
    }
    /*HOME AT THE EVENT*/
    /*webinar*/
    .span12.full-width {
        margin-left: 0;
        width: 100%;
    }
    .webinar-text {
        margin: 0;
        margin-right: 30px;
    }
    .webinar-text-2 {
        width: 50%;
    }
    .webinar-btn {
        margin-right: 0px;
        padding-top: 30px;
        clear: both;
        float: none;
    }
    .span12.full-width.webinar-line {
        width: 100%;
        margin: 40px 0 20px 0px;
    }
    /*home-news*/
    .span4.home-news-section:first-child, .span4.home-news-section {
        margin-left: 0;
    }
    /*sidebar-conference*/
    .widget .home-titles, .widget .home-list-icon, .widget .sidebar-blankspace {
        display: block;
    }
    /*contact us - footer*/
    .email-img {
        display: none;
    }
    .contact-button {
        width: 100%;
        text-align: center;
        float: none;
    }
    .social-icon-list {
        float: none;
        margin: 0;
        text-align: center;
    }
    .hp-at-the-event img {
        max-width: 60%;
        margin-bottom: -70px;
        margin-top: 0;
    }
    .hp-at-the-event {
        margin-top: 0;
    }
    .sponsor-title {
        margin-top: -60px;
    }
    .video-block {
        margin-left: -20px;
    }
    .width03.left.speaker div {
        width: 100%;
    }
    #megaMenu.megaFullWidth {
        width: 100%;
        margin-left: 50% !important;
    }
    nav#mediacenter-navigation .menu li {
        width: 100%;
    }
    nav#agenda-navigation .menu li {
        width: 100%;
    }
    nav#justify-navigation .menu li {
        width: 100%;
    }
    /*HEADER*/
    #header-section {
        padding: 15px 0 0 0;
        height: 0%;
    }
    /*header #main-navigation {margin-bottom: 0;width: 11% !important;}*/
    #nav-section.span9.clearfix {
        margin-bottom: 0;
    }
    header #logo img {
        margin-bottom: 0;
    }
    /*TOP MENUS*/
    #top-bar {
        display: none;
    }
    .visible-phone {
        width: 250px;
    }
    nav ul.menu {
        display: none;
    }
    /*new home*/
    body [class*="span"].home-ribbon:after {
        margin-left: 20px;
        visibility: visible;
    }
    /*HOME*/
    .homelinks[class*="span"] {
        width: 50%;
        float: left;
    }
    .homelinks[class*="span"].last {
        width: 100%;
    }
    /*home parallax*/
    .spb_parallax_asset p#main-text {
        line-height: 46px;
    }
    nav#mediacenter-navigation, nav#justify-navigation {} nav ul#menu-main-agenda-menu, nav ul#justify-navigation, nav ul#mediacenter-navigation {
        display: block;
    }
    /*HOME AT THE EVENT*/
    ul.all-about-tmf.event-news li div {
        display: none;
    }
    ul.all-about-tmf.event-news li p {
        font-size: 17px;
        line-height: 23px;
        padding: 0px 0;
        margin-left: 0;
        /*sidebar menu*/
        /*ul.all-about-tmf.event-news li { min-height: 40px;*/
    }
    /*Streaming Keynotes Live*/
    .streaming-blank-space {
        display: none;
    }
    /*sponsors*/
    .home-sponsors {
        text-align: center;
    }
    .home-sponsors #netcracker {
        width: 29%;
        margin-left: 0;
        margin-top: 0;
    }
    .home-sponsors #atos {
        width: 23%;
        margin-top: 0;
    }
    .home-sponsors #cksoftware {
        width: 40%;
        margin-top: 9px;
        margin-left: 0;
    }
    .home-sponsors #zte {
        width: 21%;
        margin-top: 19px;
        margin-left: 0;
    }
    .home-sponsors #toa {
        width: 15%;
        margin-top: 20px;
    }
    /*footer*/
    ul.social-footer li {
        width: 32px;
    }
    /*homespeakers*/
    .homespeakers[class*="span"] {
        width: 49%;
        float: left;
        margin-bottom: 0;
        padding-left: 10px;
        height: 120px;
    }
    .homespeakers img {
        width: 90px;
    }
    .noLineDivider.LineSpeakers {
        display: none;
    }
    /*parallax*/
    .spb_parallax_asset p#main-text {
        font-size: 38px;
    }
    /*3d gray cubes fix position*/
    .cub-top {
        display: none;
    }
    
    /*home-sponsors*/
    .sponsors-fifth-toa {
        margin-left: 25%;
    }
    .sponsors-home-box {
        margin-bottom: 0;
    }
    /*NEW HOME*/
    .home-slider-text {
        margin-top: 0;
    }
    .home-slider-text h1 {
        margin-right: 30px;
    }
    .home-slider-text p {
        margin-right: 30px;
        margin-bottom: 30px;
    }
    /*JUSTIFY YOUR TRIP*/
    /*justify navigation dispay block*/
    ul#justify.menu {
        display: block;
    }
    /* EXHIBITORS RESOURCES */
    #exhibitors-navigation {
        padding-bottom: 23px;
    }
    /*404 not-found page*/
    input.page-404 {
        width: 90%;
    }
    /*pases & pricing*/
    div.register-online {
        display: none;
    }
    /***************/
    /***SUPPLIERS***/
    /***************/
    div.suppliers.category {
        margin-left: 0;
    }
    div.suppliers p, div.suppliers.contact p {
        width: 690px;
        text-align: center;
    }
    div.suppliers.contact {
        margin-bottom: 10px;
    }
    /****************************/
    /*** ONLINE TRAINING TABLE***/
    /****************************/
    div.ot-table-container div {
        font-size: 15px;
    }
    /*******************************/
    /*** ONLINE TRAINING PROGRAMS***/
    /*******************************/
    div.online-training, div.online-training.white {
        min-height: 0;
        margin-bottom: 0;
    }
    div.online-training.white {
        background-color: #F2F2F2;
    }
    div.online-training div.two_third {
        width: 50%;
        float: left;
    }
    div.online-training div.two_third h3 {
        text-align: left;
    }
    div.online-training div.one_third.last {
        width: 50%;
        float: left;
        text-align: right;
    }
    div.online-training .footer {
        position: relative;
        width: auto;
    }
    div.online-training.white {
        margin-bottom: 30px;
    }
    /*display main menu sub-ul under 768px*/
    div#nav-section nav#main-navigation ul#menu-tmf-live li ul.sub-menu {
        display: block !important;
    }
    
    .nfv-logo-hp {
        width: 70% !important;
        height: 70% !important;
    }
    /*******************************/
    /***  VIDEO PAGES may/30/14  ***/
    /*******************************/
    body.page-template-video-posts-template-php .video-block:first-child {
        float: none;
    }
    body.page-template-video-posts-template-php .video-block:first-child li.featured-figure .title {
        line-height: 1.2em;
        font-size: 22px;
    }
    body.page-template-video-posts-template-php .video-block:first-child li.featured-figure .date {
        margin-top: 0;
    }
    body.page-template-video-posts-template-php .video-block:first-child ul li.span3:nth-child(2) {
        float: left;
        width: 48% !important;
    }
    body.page-template-video-posts-template-php .video-block:first-child ul li.span3:nth-child(3) {
        float: right;
        width: 48% !important;
    }
    /*video player page*/
    .main-video-shadow-big-video {
        margin-top: -12px;
        height: 40px;
    }
    .video-player-page ul.related-items {
        padding: 0;
        margin: 0;
    }
    .video-player-page ul.related-items li.related-item {
        margin: 0 3% 0 0;
        width: 30%;
        float: left;
    }
    .video-player-page ul.related-items li.related-item h5 {
        height: 55px;
    }
    .main-video-preface.SKL {
        width: 100%;
    }
    .main-video-ampersand.SKL {
        width: 30px;
        float: left;
    }
    .main-video-name.SKL {
        width: 190px;
        float: left;
    }
    .main-video-shadow {
        display: none;
    }
    div.blank_spacer.streaming-blank-space {
        display: none;
    }
    /****************/
    /*** ABOUT US ***/
    /****************/
    .sidebar-who-attends {
        display: block;
    }
    .widget .sidebar-about {
        display: none;
    }
    /****************/
    /*** Conference Overview ***/
    /****************/
    .cuadroa {
        width: 470px !important;
        height: 541px !important;
    }
    #cuadro1 {
        left: 0px !important;
        top: 562px !important;
    }
    #cuadro7 {
        left: 245px !important;
        top: 562px !important;
    }
    #cuadro4 {
        left: 0px !important;
        top: 783px !important;
    }
    #cuadro5 {
        left: 245px !important;
        top: 783px !important;
    }
    #cuadro3 {
        left: 0px !important;
        top: 1003px !important;
    }
    #cuadro2 {
        left: 245px !important;
        top: 1003px !important;
    }
    .item.cuadrob {
        left: 0px !important;
        top: 1224px !important;
    }
    .item.cuadrob.cuadrob1 {
        left: 245px !important;
        top: 1224px !important;
    }
    #mcontainer {
        height: 1408px !important;
    }
    /* FOOTER */
    .social-contact .span8, .social-contact .span4 {
        width: 100%;
        margin: 0;
    }
    .social-contact {
        text-align: center;
    }
    .social-contact img {
        float: none;
        margin-right: 0px;
    }
    #menu-social li.social-icon {
        margin: 0 10px;
        display: inline-block;
        float: none;
    }
    #menu-social {
        display: block;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    /*CONFERENCE OVERVIEW*/
    /*Masorny*/
    .cuadrob {
        width: 225px;
        background-image: none;
        background-color: #cb79bb;
    }
    .cuadrob ul {
        margin-left: -2%;
        margin-top: 13%;
    }
}
@media screen and (max-width: 680px) {
    /*HP AT THE EVENT*/
    .box-filter {
        width: 100%;
        border: none !important;
    }
    .fullName {
        width: 62% !important;
    }
    .width03.left.speaker div {
        height: 140px;
    }
    /*parallax*/
    .spb_parallax_asset p#main-text {
        font-size: 33px;
        padding: 10px;
        line-height: 45px;
    }
    /*home-sponsors*/
    .sponsors-fifth {
        width: 100%;
    }
    .sponsors-fifth {
        margin-left: 0;
    }
    .sponsors-home-box p {
        text-align: center;
        position: static;
    }
    .wpb_content_element.span12.sponsors-home-box.wpb_text_column {
        width: 110%;
        margin-left: -38px;
    }
    /*webnair-hp*/
    .webinar-text {
        text-align: center;
        float: none;
        margin-right: 0;
    }
    .webinar-text-2 {
        width: 100%;
        border: none;
        text-align: center;
        padding: 0;
    }
    .webinar-btn {
        text-align: center;
    }
    /****************************/
    /*** ONLINE TRAINING TABLE***/
    /****************************/
    div.ot-table-container .title-invisible {
        display: block;
    }
    div.ot-table-container {
        width: 100%;
    }
    div.ot-table-container div {
        font-size: 17px;
    }
    div.ot-table-container.last {
        margin: 0;
    }
    div.ot-table-container div {
        border: 0;
    }
    div.ot-table-container.last {
        margin-bottom: 20px;
    }
    /*video player page*/
    .main-video-shadow-big-video {
        margin-top: -16px;
        height: 40px;
    }
    .video-player-page .bottom-video-data .wpb_wrapper h5, .video-player-page .bottom-video-data .wpb_wrapper h6 {
        font-weight: 400;
        font-size: 18px;
        display: table-cell;
        line-height: 30px;
        padding-bottom: 10px;
    }
    .video-player-page .bottom-video-data .wpb_wrapper h5 {
        color: #69B276;
        padding-right: 10px;
    }
}
@media screen and (max-width: 640px) {
    /*Mobile Menu*/
    .call-to-action {
        display: none;
    }
    .mobile-navigation {
        display: block;
    }
    header div.eight.columns {
        float: left !important;
        margin-left: 20px;
    }
    .head {
        margin: 0 auto;
        width: 90%;
        height: auto;
    }
    .logo-mobile {
        width: 170px;
    }
    .head .divider {
        display: none;
    }
    #navigationmain {
        display: none !important;
    }
    .register-btn-mobile {
        left: 100%;
        margin-left: -106px;
        position: absolute;
        top: 21px;
        width: 76px;
        text-decoration: none;
        padding: 0;
    }
    .navbar-toggle {
        background-color: transparent;
        border: medium none;
        cursor: pointer;
        height: 22px;
        left: 100%;
        margin-left: -23px;
        padding-top: 3px;
        position: absolute;
        top: 21px;
        width: 35px;
    }
    header {
        height: auto !important;
    }
    header .container .four.columns:first-child a img {
        display: none;
    }
    .current-menu-item > a {
        background-color: transparent !important;
    }
    /*Logo*/
    .logo {
        display: none;
    }
    .logo-mobile {
        display: block;
        margin-top: -10px;
    }
    .slogan {
        padding-left: 8px;
        position: absolute;
        left: 123px;
        height: 55px;
        margin-top: 8px;
        width: 196px;
        float: none;
        border-left: 2px solid #9d5ca5;
        padding-left: 10px;
        box-sizing: border-box;
        padding-top: 1px;
    }
    .call-to-action .register-btn {
        margin-right: 0px !important;
        width: 100px !important;
    }
    header {
        height: 100px;
    }
    #header-section {
        padding: 0!important;
    }
    .nav-wrap {
        display: none !important;
    }
    .standard {
        display: none !important;
    }
    #footer .span4 h3 {
        text-align: center;
    }
    #menu-social li.social-icon {
        margin: 0 10px;
        display: inline-block;
        float: none;
    }
    #menu-social {
        display: block;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }
    #footer-widgets .span3 {
        width: 100%;
        float: none;
    }
    #footer-widgets .span3:last-child {
        display: none;
    }
}
@media screen and (max-width: 600px) {
    /*HOME*/
    /*new home*/
    .home-slider-text {
        position: relative;
        margin-top: 0;
    }
    .home-slider-text h1 {
        text-align: left;
    }
    /*homespeakers*/
    .homespeakers[class*="span"] {
        width: 100%;
    }
    .homespeakers img {
        width: 90px;
    }
    .slotholder {
        display: none;
    }
    .home-slider-wrap {
        display: none;
    }
    .homelinks[class*="span"] {
        width: 100%;
        float: none;
    }
    /*footer*/
    #footer-widgets div.span3:first-child {
        width: 100%;
        float: none;
    }
    #footer-widgets {
        text-align: center;
    }
    /* EXHIBITORS RESOURCES */
    nav#exhibitors-navigation .menu li {
        width: 49%;
        float: left;
    }
    #exhibitors-navigation {
        padding-bottom: 21px;
    }
    /*EVENT SPONSORS*/
    .logo-desc.event-sponsors {
        text-align: center;
    }
    .wrap-logo-featured.event-sponsors {
        width: 80%;
        margin: 0 auto;
    }
    /*video player page*/
    .main-video-shadow-big-video {
        margin-top: -18px;
    }
    .video-player-page ul.related-items li.related-item {
        list-style-type: none;
        padding: 0;
        margin: 0 3% 0 0;
        width: 47%;
        float: left;
    }
    .main-video-preface.SKL {
        width: 100%;
        margin-bottom: 0;
    }
    .main-video-ampersand.SKL {
        width: 100%;
        margin-bottom: 0;
        height: 35px;
        margin-top: -22px;
    }
    .main-video-name.SKL {
        width: 100%;
        margin-bottom: 0;
    }
    .title-streaming h1 {
        font-size: 25px;
        margin: 22px 0 0px 0;
        line-height: 25px;
        text-align: center;
    }
    body {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    #container {
        box-shadow: none !important;
    }
    /* FOOTER */
    .social-contact {
        text-align: center;
    }
    .social-contact img {
        float: none;
        margin-right: 0px;
    }
    #menu-social li.social-icon {
        margin: 0 10px;
        display: inline-block;
        float: none;
    }
    #menu-social {
        display: block;
        margin: 0 auto;
        overflow: hidden;
        text-align: center;
    }
}
@media screen and (max-width: 480px) {
    /*///////////////////////////////////////////////////////////////////////

                        TEMPORARY-GUILLERMO.css

    ///////////////////////////////////////////////////////////////////////*/
    #mcontainer {
        margin-left: 20px;
    }
    .sombracuadro {
        margin-top: 28px;
    }
    .cuadroa {
        width: 355px;
    }
    .cuadrob {
        width: 355px;
    }
    .cuadrochico {
        height: 201px;
        width: 175px
    }
    .cuadrolargo {
        width: 175px;
        background-image: none;
        height: 201px;
    }
    .cuadrolargo ul {
        padding-top: 10.2%;
        max-width: 91%;
        list-style-type: none;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-top: 0;
    }
    #cuadro3 .sombracuadro {
        margin-top: 59.3%;
    }
    #cuadro4 .sombra {
        margin-top: 13px;
    }
    #cuadro6 .sombracuadro {
        margin-top: 16.5%;
    }
    #cuadro7 .sombracuadro {
        margin-top: 33.3%;
    }
    /**************************************/
    /*** END OF TEMPORARY-GUILLERMO.css ***/
    /**************************************/
    .cuadrochico li {
        font-size: 14px;
    }
    .cuadrolargo li {
        font-size: 14px;
    }
    .cuadrob li {
        font-size: 14px;
    }
    .cuadrochico li:first-child {
        font-size: 15px;
    }
    .cuadrob li:first-child {
        font-size: 15px;
    }
    .cuadrolargo li:first-child {
        font-size: 15px;
    }
    .cuadrolargo ul {
        margin-left: 20px;
    }
    /*home parallax*/
    .spb_parallax_asset p#main-text {
        font-size: 24px;
        padding: 17px;
        line-height: 30px;
    }
    /* EXHIBITORS RESOURCES */
    nav#exhibitors-navigation .menu li {
        width: 100%;
        float: none;
    }
    #exhibitors-navigation {
        padding-bottom: 26px;
    }
    /*******************************/
    /*** ONLINE TRAINING PROGRAMS***/
    /*******************************/
    div.online-training h3 {
        font-size: 19px;
    }
    div.online-training div.footer img {
        width: 25px;
    }
    div.online-training div.footer span {
        font-size: 13px;
    }
    div.online-training {
        margin-bottom: 20px;
    }
    /*******************************/
    /*** ONLINE TRAINING PROGRAMS***/
    /*******************************/
    div.online-training h3 {
        font-size: 19px;
    }
    div.online-training div.footer img {
        width: 25px;
    }
    div.online-training div.footer span {
        font-size: 13px;
    }
    div.online-training.white {
        min-height: 0;
    }
    div.online-training {
        min-height: 0;
    }
    div.online-training.gray {
        background-image: none;
    }
    div.online-training.gray .footer {
        padding: 15px 25px 18px;
    }
    div.online-training.white {
        box-shadow: none;
    }
    .home-slider-text {
        position: relative;
        margin-top: 0;
    }
    /*******************************/
    /***  VIDEO PAGES may/30/14  ***/
    /*******************************/
    body.page-template-video-posts-template-php .video-block:first-child ul li.span3:nth-child(2), body.page-template-video-posts-template-php .video-block:first-child ul li.span3:nth-child(3) {
        float: none;
        width: 100% !important;
    }
    body.page-template-video-posts-template-php .video-block:first-child li.featured-figure .title {
        line-height: 1.2em;
        font-size: 18px;
    }
    body.page-template-video-posts-template-php h2 {
        text-align: center;
    }
    /*video player page*/
    .main-video-shadow-big-video {
        margin-top: -20px;
    }
    .video-player-page .post-video-container {
        margin-bottom: 0;
    }
    /* Conference Overview */
    .cuadroa {
        width: 365px !important;
        height: 416px !important;
    }
    #cuadro1 {
        left: 0px !important;
        top: 436px !important;
    }
    #cuadro7 {
        left: 182px !important;
        top: 436px !important;
    }
    #cuadro4 {
        left: 0px !important;
        top: 637px !important;
    }
    #cuadro5 {
        left: 182px !important;
        top: 637px !important;
    }
    #cuadro3 {
        left: 0px !important;
        top: 838px !important;
    }
    #cuadro2 {
        left: 182px !important;
        top: 838px !important;
    }
    .item.cuadrob {
        left: 0px !important;
        top: 1039px !important;
        width: 364px;
        background-image: url("/wp-content/uploads/2014/07/conf-overview-agenda.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .item.cuadrob.cuadrob1 {
        left: 0px !important;
        top: 1240px !important;
    }
    #mcontainer {
        height: 1408px !important;
    }
    .cuadrob ul {
        margin-left: 34%;
        margin-top: 13%;
    }
    .cuadrochico {
        height: 201px;
        width: 182px;
    }
}
@media screen and (max-width: 380px) {
    nav#justify-navigation .menu li {
        width: 100% !important;
    }
    /*about tmforum live*/
    .networking-expo-box.testimonials img {
        visibility: hidden;
    }
    /*video player page*/
    .video-player-page h1 {
        font-size: 30px;
        font-weight: 400;
    }
    .main-video-shadow-big-video {
        margin-top: -22px;
    }
    .video-player-page ul.related-items li.related-item {
        margin: 0;
        width: 100%;
        float: none;
    }
    .video-player-page ul.related-items li.related-item h5 {
        height: auto;
    }
    /* Conference Overview */
    .cuadroa {
        width: 280px !important;
        height: 322px !important;
    }
    .cuadroa ul {
        margin-top: 75% !important;
    }
    #cuadro1 {
        left: 0px !important;
        top: 342px !important;
    }
    #cuadro7 {
        left: 0px !important;
        top: 513px !important;
    }
    #cuadro4 {
        left: 0px !important;
        top: 684px !important;
    }
    #cuadro5 {
        left: 0px !important;
        top: 855px !important;
    }
    #cuadro3 {
        left: 0px !important;
        top: 1026px !important;
    }
    #cuadro2 {
        left: 0px !important;
        top: 1197px !important;
    }
    .item.cuadrob {
        left: 0px !important;
        top: 1368px !important;
        width: 280px;
        background-color: #CB79BB;
        background-image: none;
    }
    .item.cuadrob.cuadrob1 {
        left: 0px !important;
        top: 1589px !important;
        background-color: #808080;
        background-image: none;
    }
    #mcontainer {
        height: 1750px !important;
    }
    .cuadrob ul {
        margin-left: -2%;
        margin-top: 13%;
    }
    .cuadrochico {
        height: 151px !important;
        width: 280px !important;
        background-size: cover;
    }
}
@media only screen and (min-width: 320px) and (max-width: 720px) {
   
  
    ul.all-about-tmf li {
        font-size: 13px
    }
    .hotel-travel-info-box a {
        line-height: 24px
    }
    .orange-circle-text {
        display: block;
        float: left
    }
    .one_fourth_box.bg-gray .box {
        width: 100%!important
    }
    .orange-circle-title {
        margin-left: 0;
        display: block;
    }
    .training-call .orange-circle-text {
        float: none;
    }
    .training-call .orange-circle-title {
        margin-left: 100px;
    }

    .hp-at-the-event .rss-view-all-stories {
        padding: 10px 25px;
        float: none;
    }
    .hp-at-the-event img {
        margin-bottom: 0;
        margin-top: 0;
        max-width: 60%;
    }
    .hp-at-the-event .span5 {
        margin-bottom: -20px;
    }
}
@media screen and (max-width: 320px) {
    .hp-at-the-event .rss-view-all-stories {
        padding: 10px 25px;
        float: none;
    }
    .hp-at-the-event img {
        margin-bottom: 0;
        margin-top: 0;
        max-width: 60%;
    }
    .hp-at-the-event .span5 {
        margin-bottom: -20px;
    }
    #mcontainer {
        margin-left: 0px;
    }
    .cuadrochico {
        height: 201px;
        width: 245px
    }
    .sombracuadro {
        height: 15px;
        background-image: url('http://www.tmforumlive.org/wp-content/uploads/2014/01/shadow1.png');
        background-repeat: no-repeat;
        background-position: bottom left;
        margin-top: 66px;
    }
    #cuadro3 .sombracuadro {
        margin-top: 39.2%;
    }
    #cuadro5 .sombracuadro {
        margin-top: 81px;
    }
    #cuadro6 .sombracuadro {
        margin-top: 26.6%;
    }
    #cuadro7 .sombracuadro {
        margin-top: 33%;
    }
    .cuadrolargo {
        background-image: url('http://www.tmforumlive.org/wp-content/uploads/2014/01/agenda-AAG-bloques-export-v2-04.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 416px;
        width: 245px;
    }
    .cuadrolargo ul {
        margin-top: 110%;
        margin-left: 0;
    }
    .cuadroa {
        width: 245px;
    }
    .cuadroa ul {
        margin-top: 92%;
    }
    .cuadrob {width: 245px;}
  
    .cuadrolargo ul {margin-top: 84%;max-width: 83%;}
    .homespeakers h1 {
        color: #363636;
        font-size: 19px;
        line-height: 22px;
        font-weight: normal;
        margin-bottom: 0px;
        margin-left: 10px;
    }
    .homespeakers img {
        width: 31%;
        margin-right: 14px !important;
        margin-bottom: 5px !important;
    }
   
    /*video player page*/
    .video-player-page .post-video-container {margin-bottom: 0;}
    .video-player-page h1 {
        font-size: 24px;
        font-weight: 400;
        margin: 0;
    }
    .video-player-page .bottom-video-data .wpb_wrapper h5, .video-player-page .bottom-video-data .wpb_wrapper h6 {
        display: block;
        line-height: normal;
        margin: 0;
    }
    .video-player-page .bottom-video-data .wpb_wrapper h5 {padding-bottom: 0;}
    .video-player-page .bottom-video-data .wpb_wrapper h5:after {content: "";}
    .main-video-shadow-big-video {margin-top: -25px;}
}
@media only screen and (-webkit-min-width: 980px) and (-webkit-max-width: 1024px) {
    .visible-phone.show-menu {display: none !important;}
    nav#main-navigation ul.menu {display: block;}
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
    #breadcrumbs.alt-bg, .news-and-coverage.alt-bg {
        padding-left: 0!important;
        padding-right: 0!important;
    }
}
@media screen and (max-width: 979px) and (min-width: 768px) {
    .call-to-action li.register-btn {float: right;}
}

@media screen and (min-width: 641px) and (max-width: 840px) {
    .head .social-icon {
        float: left !important;
        margin-left: 10% !important;
        width: 25px !important;
        border-top: none !important;
    }
    .head .span6:nth-child(2) {width: auto !important;}
    .head .social-icon > a {padding: 0px !important;}
}
